@use "../variables.scss" as *;
@use "../mixins.scss" as *;
@use "../animations.scss" as *;

.footer{
    position: relative;
    bottom: 0px;
    display: grid;
    background-color: $primary-dark;
}
.footer__nav-links{
    column-gap: 2rem;
    @include flexit(center);
}
.footer__sub-footer{
    @include flexit(space-between);
    padding: 0 2em;
}