$primary-dark: #262626;
$primary-color: #FAFAFA;
$primary-font-color: white;
$secondary-font-color: #F5F5F5;

//font size = fs, line height = lh
$default-fs: 1rem;
$h1-fs: 4.2rem;
$h1-lh: 5.25rem;
$h4-fs: 2rem;
$h4-lh: 2.5rem;
